<!DOCTYPE html>
<html lang="en">
<head>
  <title>Random VIN Generator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<style>
    .table th {
        text-align: center;
    }

    .table {
        border-radius: 5px;
        width: 50%;
        margin: 0px auto;
        float: none;
    }
    .badge {
      padding: 15px 15px 15px;
      font-size: 40px;
      white-space: nowrap;
      color: #ffffff;
      background-color: #294db1;
      border-radius: 9px;
      flex: 0 0 auto;
    }
    a.list-group-item {
      display: flex;
      align-items: center;
    }
</style>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">VIN Generator</h1>
      <p class="lead text-muted">Generate completely random Vehicle Identification Numbers that are valid and belong to a real car</p>
      <p>
        <a href="{{ url_for('home')}}" class="btn btn-primary my-2" style="background-color: #294db1">Generate</a>
      </p>
    </div>
  </section>

<div class="container h-100 d-flex justify-content-center text-center">
        <div class="badge badge-pill badge-primary" >
            <span style="text-align: center">{{data.year}}</span>
            <span style="text-align: center">{{data.make}}</span>
            <span style="text-align: center">{{data.model}}</span>
        </div>
</div>

<div class="container text-center">
  <h1 class="jumbotron-heading">{{data.vin}}</h1>
	
    <div class="paragraphs">
      <div class="row">
        <div class="span justify-content-center d-flex">
          <img style="float:center; padding 50px; height: 300px" src="{{data.image}}">
          <img style="float:center" src="{{url_for('static', filename='vin_qr_code.png')}}" />
        
        </div>
      </div>
    </div>

</main>


</body>
</html>

